name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CI: true

jobs:
  test:
    name: "Test on Node.js ${{ matrix.node }} OS: ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [16, 17]
    steps:
      - uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.x.x
          run_install: true

      - name: Test
        run: pnpm test -- --coverage

      - name: Upload code coverage
        uses: codecov/codecov-action@v2

  lint:
    runs-on: ubuntu-latest
    name: "Lint source code"
    steps:
      - uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2.5.1
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.x.x
          run_install: true

      - name: Lint
        run: pnpm lint
